/*CSS因为才入门没有充分利用CSS中的优先原则和继承原则，选择器多数采用属性以及基础选择器
从而导致做了很多重复的属性声明也使得CSS语句远远多于html语句 其中在body中声明的高度未能在页面中显示上下进度条（弄了很久就是不行）
使得页面利用面积很少*/
.body {
    margin: 0;
    padding: 0;
}
.body {
    background-color: #fff;
    width: 1010px;
    height: 5000px;
}

/*topbar*/
.topbar {
    height: 32px;
    border-bottom: 1px solid #ebebeb;
    /*border: 1px solid black;*/
}
.container {
    margin: 0 67% 0 33%;
    width: 1000px;
    /*border: 1px solid black;*/
}
/*这里用组合选择器统一用于清理各个板块中的浮动*/
.container::before , .container::after , .choice-con::before , .choice-con::after , .txtcon::before , .txtcon::after , .contentset::before , .contentset::after {
    content: "";
    display: table;
}
.container::after , .choice-con::after , .txtcon::after , .contentset::after {
    clear: both;
}
/*设置导航栏属性*/
.topbar a {
    color: #333333;
    font-size: 18px;
}
.topbar-nav {
    float: left;
    line-height: 32px;
    /*font-size: 0;*/
    font-family: arial;
    color: #333333;
}

.topbar-nav a {
    font-weight: 600;
}
.topbar-tool , .topbar-info{
    float: right; 
    font-family: Arial;
}
.topbar-tool , .topbar-info{
    margin-top: 0;
}
.topbar-tool a , .topbar-info a {
    text-decoration: none;
}
.topbar-tool a {
    display: block;
    height: 40px;
    width: 40px;
    text-indent: -15px;
}
.topbar-info a {
    float: left;
    padding: 0 5px ;
}
.topbar-info .pu {
    display: block;
    height: 40px;
    width: 40px;
}

/*header*/
.header {
    height: 50px;
}
/*因为与原网页初始背景不同，尝试了很多次
并通过加边框进行不断调试 加边框是一个不错的方法
后面每一个大板块的定位都是这样不断调试完成的*/
.headercon {
    margin: 0 auto;
    width: 1100px;
    /*border: 1px solid black;*/
}
/*这里本应该放到最前面统一清除浮动 结果又弄了一遍*/
.headercon::before , .headercon::after{
    content: "";
    display: table;
}
.headercon::after {
    clear: both;
}
.header-logo {
    float: left;
    width: 180px;
    margin-top: 15px;
    height: 100px;
    /*border: 1px solid black;*/
}
/*这里的logo图片是经过ps多次处理后比较理想的像素了*/
.header-logo a {
    display: block;
    width: 180px;
    height: 150px;
    background: url(../img/baidu\ logo.jpg) no-repeat;
    margin-top: 40px;
}
.header-search {
    float: left;
    width: 700px;
    margin-top: 55px;
    height: 50px;
    /*border: 1px solid black;*/
} 
.header-help {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 110px;
    font-size: 10px;
    /*border: 1px solid black;*/
    margin-right: 0;
}
.header-help a {
    display: block;
    color: #333333;
    font-weight: 600;
}
.header-search .search-form {
    position: relative;
    display: block;
    height: 100px;
    width: 800px;
}
.header-search .search-form .search-text {
    position: absolute;
    top: 10px;
    right: 48px;
    display: block;
    height: 50px;
    width: 600px;
    line-height: 100px;
    margin: 20px 150px 0 0;
    border:  1px solid #3388ff ;
    font-size: 20px;
}
.header-search .search-form .search-btn1 , .header-search .search-form .search-btn2 {
    display: block;
    position: absolute;
    top: 30px;
    height: 50px;
    width: 120px;
    font-size: 25px;
    line-height: 25px;
}
.header-search .search-form .search-btn1 {
    background-color: #3388ff;
    color: #fff;
    right: 120px;
}
.header-search .search-form .search-btn2 {
    background-color: #fff;
    color: #3388ff;
    right: 0;
}
/*choice*/
.choice {
    height: 50px;
    border-top: 1px solid #5895d5;
    border-bottom: 1px solid #3b92e9;
    background: #459df5;
    margin-top: 115px;
}
.choice-con {
    height: 80px;
    width: 1010px;

}
.mainchoice ul{
    height: 45px;
}
.mainchoice li {
    display: block;
    color: #f5f5f5;
    float: left;
    width: 16%;
    font-size: 16px;
}
.mainchoice a {
    display: block;
    font: 50px 43px Arial, Helvetica, sans-serif;
    text-align: center;
}
/*poster*/
.all-poster {
    margin-top: 20px;
}
.poster {
    width: 1520px;
    background: #FFF;
    margin: 0 auto 14px;
    border: solid 1px #E5E5E5;
    box-shadow: 0 2px 3px -2px #d5d5d5;
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    position: relative;
    padding: 29px 0;
}
.poster .pic {
    float: right;
}
.all-poster .pic {
    margin-right: 80px;
}
.pic {
    width: 268px;
    border: solid 1px #DDD;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px #ccc;
    position: relative;
    font-size: 0;
    line-height: 0;
}
.tuche {
    font: 400 14px 10px arial;
    height: 60px;
    padding: 8px 5px 8px 30px;
    box-shadow: 0 -1px 1px #ddd;
    line-height: 23px;
    font-size: 16px;
    text-indent: 40px;
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    color: #ccc;
    text-decoration: none;
    background: black ;
    background: url(../img/baidu\ logo.jpg) no-repeat;
}
dl {
    display: block;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    height: 368px;
}
.poster .txtcon {
    float: left;
    width: 1100px;
    padding-left: 29px;
    color: #333;
    position: relative;
    margin: 0;
    padding: 0;
    font-family:arial;
}
.respect {
    min-width: 81px;
    float: right;
    height: 75px;
    text-align: center;
    background: #fff;
    cursor: pointer;
    z-index: 100;
    font-size: 12px;
    font-family: 'Microsoft Yahei';
    /*border: 1px solid black;*/
    margin-right: 0px;
    width: 200px;
}
.taste {
    /*position: relative;*/
    width；150px;
}
.taste i {
    color: #3388ff;
}
.taste .xiaoguo {
    display: block;
    font-size: 10px;
    color: #459df5;
    /*position: absolute;
    margin: 0 8px 5px 10px;*/
}
.title {
    float: left;
    margin: 0;
    padding: 0;
    display: block;
    color: #333;
    font-family:Arial, Helvetica, sans-serif;
    /*border: 1px solid black;*/
    height: 100px;
    width: 800px;
}
.maintitle {
    display: block;
    margin-inline-start: 60px;
    font-family:Arial, Helvetica, sans-serif;
    color: #333;
    /*border: 1px solid black;*/
    height: 60px;
}
.maintitle a:hover{
    color: #FFFFFF;
}
h1 {
    font-size: 38px;
    margin-top: auto;
}
.bj {
    display: inline-block;
    outline: 0;
    top: -2px;
    margin: 0 5px 0 0;
    width: 50px;
    border-color: #c5c5c5;
    border-radius: 3px;
    border: solid 1px #e2e2e2;
    height: 18px;
    line-height: 14px;
    font-size: 15px;
    color: #666;
    float: right;
    text-decoration: none;
    background-color: #ffffff;
}
.tl {
    position: relative;
    display: inline-block;
    outline: 0;
    top: -2px;
    margin: 0 50px 0 0;
    width: 55px;
    border-color: #c5c5c5;
    border-radius: 3px;
    border: solid 1px #e2e2e2;
    height: 18px;
    line-height: 14px;
    font-size: 25px;
    color: #666;
    float: right;
    text-decoration: none;
    background-color:#ffffff;
}
.num {
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    padding: 0 5px;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    right: -8px;
    background: #F34F1D;
    color: #ffffff;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
}
.video {
    display: inline-block;
    outline: 0;
    top: -2px;
    margin: 0 30px 0 0;
    width: 100px;
    border-color: #c5c5c5;
    border-radius: 3px;
    border: solid 1px #e2e2e2;
    height: 18px;
    line-height: 14px;
    font-size: 18px;
    color: #666;
    float: right;
    text-decoration: none;
    background-color:#FFFFFF;
}
.vicetitle {
    border-left: 3px solid #52a3f5;
    color: #474849;
    font-size: 14px;
    line-height: 1;
    background: #eef7fd;
    margin-top: 5px;
    padding: 5px 2px 4px 10px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-inline-start: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.viceset {
    margin: 0;
    padding: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    color: #474849;
    font-size: 14px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 10px;
    font-weight: 600;
}
.contentset {
    border: 0;
    padding-left: 0;
    float: left;
    padding: 0 8px;
    list-style: none;
    display: list-item;
}
.summary {
    font-size: 14px;
    word-wrap: break-word;
    color: #333;
    text-indent: 2em;
    line-height: 24px;
    zoom: 1;
    display: block;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    height:200px;
}
.para {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    word-wrap: break-word;
    color: #333;
    text-indent: 2em;
    line-height: 24px;
    zoom: 1;
}
.para a {
    color: #136ec2;
    text-decoration: none;
}
